.body {
  height: 100px;
  min-height: 76vh;
  max-width: 100%;
}

.wrapper {
  display: flex;
  align-content: center;
  flex-direction: row;
  min-height: 100%;
}

.column {
  float: left;
  justify-content: center;
}

.left {
  width: 25%;
  border-right: 2px solid blue;
  border-left: 2px solid blue;
  min-width: fit-content;
}

.right {
  width: 75%;
  border-right: 2px solid blue;
}

.container {
  display: block;
  background-color: red;
}
